/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-color: #181A1B;
}

header{
    display: flex;   
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: #19212C;
    color: #fff;   
}

input{
    height: 35px;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    margin: 0 5px;
    background-color: #3B3B3B;
    color: #fff;
    font-size: 1.025rem;
}

input:focus{
    outline: none;
    background-color: #3B3B3B;
}

button{
    border: none;
    background: none;
    color: #fff; 
    font-size: 0.9rem;
    cursor: pointer;
}

.animes-container{
    display: grid;
    margin: 15px auto;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
    justify-content: center;
}

.anime{
    text-align: center;
    margin: 15px 0;
    color: #ccc;
}
.anime img{
    border-radius: 10px;
    margin-bottom: 5px;
}

.anime img:hover{
    cursor: pointer;
    transform: scale(1.02);
}


@media screen and (max-width: 660px){
    header{
      flex-direction: column;
      height: 120px;
    }
      
}